* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-size: 1.2rem;
    align-items: center;
}

.nowrap {
    white-space: nowrap;
}

h1 {
    text-shadow: 0 4px 4px darkgrey;
    text-align: center;
}

.container {
    padding: 0.5rem;
    border: 1px solid black;
    box-shadow: 0 0 10px darkgrey;
    width: min(560px, 98%);
    display: flex;
    min-height: 370px;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    gap: 3rem;
    border-radius: 1rem;
}

#textbox {
    position: relative;
    display: flex;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    width: 100%;
    height: 70px;
    padding: 1rem;
}

#numberTextbox {
    position: absolute;
    font: inherit;
    border-bottom: 2px solid black;
    width: 90%;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 4.5rem;
    padding-bottom: 5px;
    outline: none;
    bottom: 0;
}

#textbox label {
    position: absolute;
    bottom: 5px;
    left: 3rem;
    z-index: 1;
    font-size: 1.5rem;
    margin-left: 2rem;
    transform: translateY(0);
    transition: 0.25s;
}

#abacus-logo {
    width: 2.5rem;
    height: auto;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

#numberTextbox:focus+label,
#numberTextbox:not(:placeholder-shown)+label {
    transform: translateY(-2rem);
}

#generateButton {
    width: 75%;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    gap: 10px;
    outline: none;
    background-color: transparent;
}

#generateButton:hover {
    transform: scale(0.98);
    box-shadow: 0 0 10px darkgrey;
}

#padlock-logo {
    width: 1.5rem;
}

#generatedPassword {
    margin: 0 0.5rem 1rem 0.5rem;
    text-align: center;
    word-break: break-all;
}

.including-characters {
    display: flex;
    gap: 1.2rem;
    justify-content: space-evenly;
    align-items: center;
}

.including-characters section {
    display: flex;
    gap: 0.3rem;
}